# SPDX-FileCopyrightText: 2022 jerusdp
#
# SPDX-License-Identifier: MIT OR Apache-2.0

version: 2.1

orbs:
  toolkit: jerus-org/circleci-toolkit@2.17.0

workflows:
  audit:
    jobs:
      - toolkit/security:
          sonarcloud: false
