version: 2.1

parameters:
  min-rust-version:
    type: string
    default: "1.68"

executors:
  rust-env:
    docker:
      - image: jerusdp/ci-rust:<<pipeline.parameters.min-rust-version>>

commands:
  cargo-build:
    parameters:
      rust-version:
        default: "stable"
        type: string
    steps:
      - run:
          name: Check build <<parameters.rust-version>>
          command: |
            cargo +<<parameters.rust-version>> check --all-features --workspace --examples

  cargo-docs:
    steps:
      - run:
          name: Generate the crate documentation
          command: |
            cargo +nightly doc --lib --no-deps --all-features --document-private-items

jobs:
  rust-versions:
    executor: rust-env
    steps:
      - run: rustup show

  required-builds:
    executor: rust-env
    steps:
      - checkout
      - run: cargo --version
      - cargo-build
      - cargo-build:
          rust-version: "stable"
      - cargo-build:
          rust-version: <<pipeline.parameters.min-rust-version>>

  optional-builds:
    executor: rust-env
    steps:
      - checkout
      - run: cargo --version
      - cargo-build
      - cargo-build:
          rust-version: "nightly"
      - cargo-build:
          rust-version: "beta"

  basic-tests:
    parameters:
      basic-test:
        type: string
    executor: rust-env
    steps:
      - checkout
      - run: cargo +stable --version
      - run:
          name: Running basic test <<parameters.basic-test>>
          command: <<parameters.basic-test>>

  test-suite:
    parameters:
      test-suite:
        type: string
    executor: rust-env
    steps:
      - checkout
      - run: cargo +stable --version
      - run:
          name: Running test suite <<parameters.test-suite>>
          command: "cargo +stable test -p <<parameters.test-suite>> --test compiletest"

  docs:
    executor: rust-env
    environment:
      RUSTDOCFLAGS: --cfg docsrs -Dwarnings
    steps:
      - checkout
      - cargo-docs
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build-test-docs:
    jobs:
      - rust-versions
      - required-builds
      - optional-builds
      - basic-tests:
          matrix:
            parameters:
              basic-test:
                [
                  cargo +stable fmt --all -- --check,
                  cargo +stable clippy --workspace --examples --tests --all-features -- -D warnings,
                  cargo +stable test -p hcaptcha --lib,
                  cargo +stable test -p hcaptcha --doc,
                ]
      - test-suite:
          matrix:
            parameters:
              test-suite:
                [
                  test_suite_default,
                  test_suite_no_default,
                  test_suite_native_only,
                  test_suite_rustls_only,
                  test_suite_trace,
                  test_suite_enterprise,
                ]
          requires:
            - basic-tests
            - required-builds
            - docs
      - docs
