version: 2.1

orbs:
  toolkit: jerus-org/circleci-toolkit@2.16.0

parameters:
  min-rust-version:
    type: string
    default: "1.88"
  docker-tag-suffix:
    type: string
    default: "-wasi"
  fingerprint:
    type: string
    default: SHA256:OkxsH8Z6Iim6WDJBaII9eTT9aaO1f3eDc6IpsgYYPVg
  pcu_verbosity:
    type: string
    default: "-vv"
    description: "Verbosity for pcu application executions."

executors:
  rust_env:
    docker:
      - image: jerusdp/ci-rust:<<pipeline.parameters.min-rust-version>><< pipeline.parameters.docker-tag-suffix >>
  base-env:
    docker:
      - image: jerusdp/ci-rust:base

workflows:
  github-release:
    jobs:
      - toolkit/make_release:
          name: github release for hcaptcha
          context:
            - release
            - bot-check
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: << pipeline.parameters.min-rust-version >>
          when_cargo_release: false
          pcu_verbosity: << pipeline.parameters.pcu_verbosity >>
          package: hcaptcha
          remove_ssh_key: false
          when_update_pcu: true
