name: License Scanning

on:
  - pull_request
  - push

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Build library with all features (generates Cargo.lock)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features
      - name: Run FOSSA scan and upload build data
        uses: fossa-contrib/fossa-action@v1
        with:
          fossa-api-key: 5f2ba9e71c25d8f97c58a9d1c70c9fb7